@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Merienda+One');

:root {
  /* Variable declarations */
  --listing-gap: 0.44em;
  --header-height: 2.92em;
  --article-padding: 0.5em;
  --listing-padding: 0.5em;
  --min-width: 300px;
  --config-width: 0em;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body, #main {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

body {
  font-family: 'Cabin', sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  --config: 0;
}

body.config {
  --config-width: 11.83em;
  --config: 1;
}

[type] {
  background: no-repeat center/100%;
  font-family: inherit;
}

[type="button"] {
  cursor: pointer;
  border: none;
}

[type="button"]:focus {
  border: none;
  outline: none;
}
 
#config {
  transition:
    width 0.2s ease-out;
    
  width: var(--config-width);
  /*width: 12.3em;*/
  /*background: hsl(0, 0%, 63%);*/
  background: hsl(0, 0%, 58%);
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}

#config [name="close"] {
  transition:
    opacity 0.2 ease-in;
    
  /*opacity: calc(0.25 * var(--config));*/
  opacity: 0.33;
    
  width: 12px;
  height: 12px;
  /*background-image: url("https://image.flaticon.com/icons/svg/25/25705.svg");*/
  background-image: url("https://image.flaticon.com/icons/svg/70/70429.svg");
  position: absolute;
  /*right: 0.85em;*/
  left: 0.13em;
  /*top: 1.195em;*/
  top: 1.35em;
  z-index: 1;
}

#config [name="close"]:hover {
  opacity: 0.4 !important;
}

#config [name="close"]:active {
  opacity: 0.5 !important;
}

#config .content, #config fieldset {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

#config fieldset {
  margin-top: 0.8em;
}

#config .content {
  color: hsl(0, 0%, 95%);
  /*padding: 2.6em 2.2em;*/
  overflow-y: auto;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 0.21em;
}

#config legend {
  font-weight: 400;
  /*color: hsl(0, 0%, 36%);*/
  color: hsl(0, 0%, 36%);
  /*font-size: 1.18em;*/
  font-size: 1.16em;
  padding: 0;
  /*margin: 1.7em 0 0.02em 1.15em;*/
  /*margin: 2em 0 0.30em 1.10em;*/
  /*margin: 0.95em 0 0.30em 0.80em;*/
  margin: 0 0 0.15em 0.80em;
  position: relative;
  display: block;
  text-align: left;
}

#config [type] {
  text-transform: uppercase;
  font-weight: 700;
}

#config .content [type] {
  transition:
    color 0.1s ease-in;
    
  display: block;
  color: inherit;
  /*height: 2.95em;*/
  /*height: 2.55em;*/
  /*height: 2.43em;*/
  height: 1.76em;
  font-size: 0.75em;
  position: relative;
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
  margin: 0 0 0 1.65em;
  padding: 1px 6px;
  /*font-size: 0.76em;*/
}

#config .content [type]:hover {
  color: hsl(0, 0%, 100%);
}

#config .content [value] {
  padding: 5px 6px 0 6px;
}

#config [value]:before {
  content: attr(value);
  font: inherit;
  height: inherit;
  position: inherit;
  display: inherit;
  padding: 0;
  /*margin-left: calc(1.65em*0.3);*/
  text-align: center;
  /*color: inherit;*/
  /*text-transform: inherit;*/
}

#main {
  transition: 
    background-color 0.25s ease-in;
    
  background: hsl(0, 0%, calc(82% + (20% - 82%) * var(--theme)));
    
  --theme: 0;
  --theme-cycle: 0;
  width: 100%;
  height: 100vh;
}

#main.article article {
  visibility: visible;
}

#main.article-visible article {
  opacity: 1;
}

#main.theme {
  --theme: 1;
}

header {
  transition: 
    width 0.2s ease-out,
    filter 0.25s ease-in;
    
  --offset: 0px;
  width: calc(100% - var(--offset) - var(--config-width));
  filter: invert(calc(63% * var(--theme)));
  
  height: var(--header-height);
  position: fixed;
  top: 0;
  background: hsl(0, 0%, 99%);
  opacity: 0.85;
  z-index: 2;
  color: hsl(0, 0%, 17%);
  pointer-events: none;
  box-sizing: border-box;
}

header form {
  display: grid;
  grid-template-columns: auto auto 1fr auto/*2em*/ /*1.35em*/;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: initial;
}

header input {
  border: none;
  margin: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

header input:focus {
  border: none;
  outline: none;
}

header [name="config"] {
  transition:
    width 0.4s ease-out;
    
  background-image: url("https://image.flaticon.com/icons/svg/54/54175.svg");
  width: calc(1.00em * (1 - var(--config)));
  height: 1.00em;
  margin-top: 1.25em;
  margin-left: 0.2em;
  opacity: 0.64;
  grid-column: 1;
}

header h1 {
  font-family: 'Merienda One', cursive;
  font-size: 1.7em;
  /*margin: 0.4em 0.25em 0 1.25em;*/
  margin: 0.4em 0.25em 0 0.38em;
  position: relative;
  line-height: 1;
  display: inline-block;
  grid-column: 2;
}

header [name="query"] {
  background: none;
  font-family: inherit;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0.15em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  grid-column: 3;
}

header [type="checkbox"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}

header [name="theme"] {
  transition: 
    transform 0.41s ease-out;
    
  transform: rotateZ(calc(180deg * var(--theme-cycle)));
  
  background-image: url("https://image.flaticon.com/icons/svg/25/25636.svg");
  margin-top: 1.15em;
  margin-right: 0.65em;
  width: 1.35em;
  height: 1.35em;
  opacity: 0.73;
  grid-column: 4;
}

#listing {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  padding: calc(var(--header-height) + var(--listing-padding)) var(--listing-padding) var(--listing-padding) var(--listing-padding);
}

#listing > .content {
  column-gap: var(--listing-gap);
  column-fill: balance;
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: var(--min-width);
}

#listing section {
  transition: 
    background-color 0.41s ease-out, 
    color 0.25s ease-in, 
    opacity 0.2s ease-in;
    
  background: hsl(0, 0%, calc(100% + (40% - 100%) * var(--theme)));
  color: hsl(0, 0%, calc(20% + (95% - 20%) * var(--theme)));
  opacity: 0.8;
  
  display: inline-block;
  margin: 0 0 var(--listing-gap) 0;
  width: 100%;
  cursor: pointer;
  padding: 0.6em;
  box-sizing: border-box;
}

#listing section:hover {
  opacity: 1;
  /*background: hsl(0, 0%, 100%);*/
}

#listing h4 {
  font-weight: 400;
  font-size: 1.21em;
  line-height: 1.25;
  margin: 0;
  color: inherit;
}

article {
  transition: opacity 0.41s ease-out;
  opacity: 0;
  
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: calc(var(--header-height) + var(--article-padding)) var(--article-padding) var(--article-padding) var(--article-padding);
  box-sizing: border-box;
  background: hsla(0, 0%, 55%, 0.975);
  overflow: auto;
  z-index: 1;
}

article [name="close"] {
  transition:
    opacity 0.2s ease-in;
    
  opacity: 0.30;
    
  width: 23px;
  height: 23px;
  z-index: 1;
  position: sticky;
  margin: var(--article-padding) 0.5em;
  float: right;
  top: calc(var(--article-padding));
  background: no-repeat url("https://image.flaticon.com/icons/svg/128/128531.svg");
}

article [name="close"]:hover {
  opacity: 0.43;
}

article [name="close"]:active {
  opacity: 0.53;
}

article > .content {
  transition: 
    background-color 0.41s ease-out, 
    color 0.25s ease-in;
    
  background: hsl(0, 0%, calc(93% + (40% - 93%) * var(--theme)));
  color: hsl(0, 0%, calc(20% + (95% - 20%) * var(--theme)));
    
  border-radius: 0.5em;
  background-clip: padding-box;
  position: relative;
  box-sizing: border-box;
  font-size: 1.08em;
  line-height: 1.5;
  max-width: 850px;
  margin: 0 auto;
  display: block;
  min-width: var(--min-width);
}

article .main {
  padding: 1.0em;
}

article p {
  margin: 0 0 0.7em 0;
}
/* TODO: Normalize query breakpoints */

@media screen and (min-width: 600px) {
  #listing > .content {
    column-count: 2;
    max-width: 670px;
  }
}

@media screen and (min-width: 830px) {
  #listing > .content {
    column-count: 3;
    max-width: 950px;
  }
}

@media screen and (min-width: 1080px) {
  #listing > .content {
    column-count: 4;
    max-width: 1250px;
  }
}
/* Calculated through interpolation */
@media screen and (min-width: 1450px) {
  #listing > .content {
    column-count: 5;
    max-width: 1709px;
  }
}
