@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Merienda+One');

:root {
  /* Global variables */
  --Root-columns: auto 1fr;
  
  --config: 0;
  --Config-width: 100vw;
  --Config-close: 1;
  --Config-account: 1;
  --Config-overflowX: auto;

  --Header-height: 2.92em;
  --Header-opacity: 0.7;
  --Header-logoMax: auto;
  --Header-bodyColumn: minmax(85%, 1fr);
  --Header-toolsColumn: auto;
  
  --Catalog-width: 350px;
  --Catalog-padding: 0.5em;
  --Catalog-columns: 1;
  --Catalog-rowUnit: 1.8em;
  --Catalog-gap: 0.44em;
  
  --Article-padding: 0.5em;
  --article: 0;
  
  --minWidth: 244px;
  --theme: 0;
  --themeDuration: 0.6s;
  --themeEasing: ease-out;
  /*--themeCycle: 0;*/
  
  --scrollbarThumb: 3em;
  --scrollbarOffset: 0;
  --scrollbarZ: inherit;
  
  --textInflation: auto;
  --minZoom: 1;
  
  --account: url("https://image.flaticon.com/icons/svg/72/72905.svg");
  --configClose: url("https://image.flaticon.com/icons/svg/159/159097.svg");
/*
  --labelBody: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Solid_white.svg");
  --labelBottom: url("https://upload.wikimedia.org/wikipedia/commons/d/d9/White_triangle.svg");
*/
}

html {
  -webkit-text-size-adjust: var(--textInflation);
  -moz-text-size-adjust: var(--textInflation);
  -ms-text-size-adjust: var(--textInflation);
  text-size-adjust: var(--textInflation);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Root, .Root-body {
  box-sizing: border-box;
  overflow: hidden;
}

.Root {
  font-family: 'Cabin', sans-serif;
  display: grid;
  background: #fff;
  grid-template-columns: var(--Root-columns);
  --configWidth: calc(var(--config) * var(--Config-width));
}

.Root.is-configOpen {
  --config: 1;
  --Header-logoMax: 0;
  --Header-toolsColumn: 0;
  /*--Header-logoMax: 10%;*/
  /*--Header-bodyColumn: minmax(90%, 1fr);*/
}

.Root.is-dark {
  --theme: 1;
}

img {
  transition:
    filter var(--themeDuration) var(--themeEasing);
    
  filter: invert(calc(100% * var(--theme)));
}

form, fieldset {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

[type] {
  background: no-repeat center/100%;
  font-family: inherit;
}

[type]:focus {
  border: none;
  outline: none;
}

[type="button"] {
  border: none;
  cursor: pointer;
}

[type="search"] {
  --appearance: searchfield;
  -ms-appearance: var(--appearance);
  -moz-appearance: var(--appearance);
  -webkit-appearance: var(--appearance);
  appearance: var(--appearance);
}

::-webkit-search-cancel-button, ::-ms-clear {
  display: none;  /*
  visibility: collapse;
  pointer-events: none;
  max-width: 0;    */
}

input[type="button"] {
  padding: 0;
}

.u-center {
  min-width: min-content;
  display: flex;
  align-items: start;
  justify-content: safe center;
}

.u-buttons [type="radio"], .u-buttons [type="checkbox"] {
  cursor: pointer;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.u-values [value]:before {
  padding: 0;
  background: none;
  content: attr(value);
  
  font: inherit;
  color: inherit;
  height: inherit;
  display: inherit;
  position: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.u-scrollbar {
  /*overflow: hidden;*/
  overflow: auto;
}

.u-scrollbar:after {
  transition:
    opacity 0.4s ease-in;
    
  opacity: 0;
  
  top: var(--scrollbarOffset);
  right: 0.1em;
  
  height: var(--scrollbarThumb);
  border-radius: 0.1em;
  
  position: absolute;
  z-index: var(--scrollbarZ);
}

.u-scrollbar:hover:after, .u-scrollbar:focus:after {
  /*opacity: 1;*/
}
/*
[class*="label_"]:before {
  transition: opacity 0.2s ease-out;
  
  opacity: 0;
  
  content: attr(aria-label);
  --labelPadding: 0.3em;
  padding: var(--labelPadding);
  font-family: 'Cabin', sans-serif;
  font-size: 0.53em;
  font-weight: 400;
  display: block;
  width: auto;
  white-space: nowrap;
  position: absolute;
  --labelTip: none;
  --labelTipSize: 0.5em;
  --labelTipPosition: center;
  --labelBodySize: 100%;
  --labelBodyPosition: center;
  background: no-repeat var(--labelBodyPosition)/var(--labelBodySize) var(--labelBody), no-repeat var(--labelTipPosition)/var(--labelTipSize) var(--labelTip);
  pointer-events: none;
}

[aria-label][class*="label_"]:before {
  opacity: 1;
}

[aria-label].label_bottom:before {
  padding: calc(var(--labelTipSize) + var(--labelPadding)) var(--labelPadding) var(--labelPadding) var(--labelPadding);
  top: 100%;
  left: 0;
  --labelTip: var(--labelBottom);
  --labelTipPosition: 25% 0;
  --labelBodySize: 100% calc(100% - var(--labelTipSize));
  --labelBodyPosition: center var(--labelTipSize);
}
*/
.Config {
  transition:
    width 0.2s ease-out;
    
  width: var(--configWidth);
  background: hsl(0, 0%, 58%);
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  z-index: 2;
  overflow-y: auto;
  overflow-x: var(--Config-overflowX);
}

.Config-tools {
  transition:
    transform 0.2s ease-in;
    
  --closeOffset: 1.50em;
  --accountWidth: 1.70em;
  --accountMargin: 0.3em;
  --accountOffset: calc(var(--accountMargin) + var(--accountWidth));
  transform: translateX(calc(var(--closeOffset) * (1 - var(--Config-close)) + var(--accountOffset) * (1 - var(--Config-account))));
  
  position: sticky;
  padding: 1.1em 0.90em;
  float: right;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  white-space: nowrap;
}

.Config-tools [type="button"] {
  transition:
    opacity 0.2s ease-in;
  
  position: relative;
  vertical-align: middle;
}

.Config-close {
  --visible: var(--Config-close);
  opacity: calc(0.40 * var(--visible));
  
  background: no-repeat center/100% var(--configClose);
  width: 1.50em;
  height: 1.50em;
  margin-left: 0 !important;
}

.Config-account {
  --visible: var(--Config-account);
  opacity: calc(0.40 * var(--visible));
  
  background: no-repeat center/100% var(--account);
  width: var(--accountWidth);
  height: var(--accountWidth);
  margin-left: var(--accountMargin) !important;
}

.Config-body {
  color: hsl(0, 0%, 95%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Config-main {
  padding-top: 0.21em;
  padding-bottom: 1em;
  position: relative;
  flex-shrink: 0;
}

.Config-main fieldset {
  margin-top: 0.8em;
}

.Config-main legend {
  font-weight: 400;
  /*color: hsl(0, 0%, 36%);*/
  color: hsl(0, 0%, 36%);
  /*font-size: 1.18em;*/
  font-size: 1.16em;
  padding: 0;
  /*margin: 1.7em 0 0.02em 1.15em;*/
  /*margin: 2em 0 0.30em 1.10em;*/
  /*margin: 0.95em 0 0.30em 0.80em;*/
  margin: 0 0 0.15em 0.80em;
  position: relative;
  display: block;
  text-align: left;
}

.Config-main [type] {
  transition:
    color 0.1s ease-in;
    
  display: block;
  color: inherit;
  /*height: 2.95em;*/
  /*height: 2.55em;*/
  /*height: 2.43em;*/
  height: 1.76em;
  font-size: 0.75em;
  position: relative;
  margin: 0 0 0 1.65em;
  padding: 1px 6px;
  text-transform: uppercase;
  font-weight: 700;
  /*font-size: 0.76em;*/
}

.Config-main [type]:hover {
  color: hsl(0, 0%, 100%);
}

.Config-main [value] {
  padding: 5px 6px 0 6px;
  text-align: center;
}

.Config-sharing {
  white-space: nowrap;
}

.Config-sharing [type] {
  transition: 
    opacity 0.2s ease-in;
    
  opacity: 0.54;
  
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  margin-right: 0.4em;
}

.Config-sharing [type]:hover {
  opacity: 0.6;
}

.Config-sharing [type]:active {
  opacity: 0.78;
}

.Config-sharing [type]:not(:nth-of-type(1)) {
  margin-left: 0;
}

.Config-sharing [type]:nth-of-type(1) {
  margin-left: calc(1.65em + 6px);
}

.Config-rss {
  background-image: url("https://image.flaticon.com/icons/svg/23/23693.svg");
}

.Config-fb {
  background-image: url("https://image.flaticon.com/icons/svg/23/23747.svg");
}

.Config-tw {
  background-image: url("https://image.flaticon.com/icons/svg/23/23931.svg");
}

.Root-body {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
  min-width: 66px;
  /*min-width: 26vw;*/
}

.Root-body:after {
  transition:   /*
    background-position 0.25s ease-in,
    background-size 0.25s ease-in,
    background 0.25s ease-in,      */
    left var(--themeDuration) var(--themeEasing),
    bottom var(--themeDuration) var(--themeEasing);
    
  /*background: no-repeat top right/calc(var(--theme) * 100%) radial-gradient(circle, #fff 0%, #9E9E9E 70%, #B5B5B5 80%, #7A7A7A 95%, #A1A1A1 99%, #000);*/
  background: no-repeat radial-gradient(circle at top 25% left 75%, /*#0ff 4%, #fff 5%,*/ #fff 20%, #9E9E9E 30%, #B5B5B5 35%, #7A7A7A 47%, #A1A1A1 49%, #000 50%);
  /*background-size: calc(100% * var(--theme));*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: calc(-50 * var(--theme));*/
  /*background-position-y: calc(50% * var(--theme));*/
  content: "";
  position: absolute;
  left: calc(-250% * var(--theme));
  bottom: calc(-250% * var(--theme));
  width: 400%;
  height: 400%;
  mix-blend-mode: exclusion;
  z-index: 100;
  pointer-events: none;
  opacity: 0.9;
}

.Header {
  transition: 
    /*width 0.2s ease-out,*/
    /*opacity 0.2s ease-in;*/
    background-color 0.2s ease-in;
  
  /*opacity: var(--Header-opacity);*/
  
  width: calc(100% - var(--configWidth));
  background: hsla(0, 0%, 99%, var(--Header-opacity));
  /*background: hsl(0, 0%, 99%);*/
  
  height: var(--Header-height);
  position: fixed;
  top: 0;
  
  color: hsl(0, 0%, 17%);
  box-sizing: border-box;
  z-index: 4;
  right: 0;
  
  display: grid;
  --width: calc(1 - var(--Config-close) * var(--config));
  --logoMin: calc(33px * var(--width));
  --logoColumn: minmax(var(--logoMin), var(--Header-logoMax));
  grid-template-columns: var(--logoColumn) var(--Header-bodyColumn);
}

.Header.is-focused {
  --Header-opacity: 0.85;
}

.Header-body {
  transition:
    opacity 0.2s ease-in;
  
  opacity: var(--Header-opacity);
  
  display: grid;
  /*grid-template-columns: minmax(0, auto) minmax(64px, 1fr) auto;*/
  /*--searchWidth: calc(123px * var(--width));*/
  grid-template-columns: 1fr var(--Header-toolsColumn);
  /*grid-template-columns:  minmax(0, 93px) 1fr auto;*/
  /*grid-template-columns: minmax(0, 93px) minmax(142px, 1fr) auto;*/
  /*grid-template-columns: minmax(1fr, 93px) 1.6fr auto;*/
  /*grid-template-columns: minmax(0.2fr, auto) minmax(0.8fr, 1fr) auto;*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  grid-column: 2;
}

.Header-body [type] {
  display: inline-block;
  box-sizing: border-box;
}

.Header-body [type], .Header-body [type]:focus {
  border: none;
  outline: none;
}

.Header-logo {
  transition:
    color 0.2s ease-out,
    opacity 0.2s ease-in;
  
  opacity: var(--Header-opacity);
  
  font-family: 'Merienda One', cursive;
  font-size: 1.7em;
  /*font-size: 100%;*/
  /*width: 77px;*/
  /*margin: 0.4em 0.25em 0 1.25em;*/
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
  display: inline-flex;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  grid-column: 1;
  width: 100%;
  box-sizing: border-box;
  --paddingLeft: 0.38em;
  --paddingRight: 0.25em;
  --mask: linear-gradient(to right, transparent 0.1em, #000 var(--paddingLeft), #000 calc(100% - var(--paddingRight)), transparent calc(100% - 0.00em));
  mask: var(--mask);
  -webkit-mask: var(--mask);
  /*min-width: calc(33px * (1 - var(--Config-close) * var(--config)));*/
  /*max-width: 76px;*/
  /*width: ;*/
  /*max-width: calc(100vw - var(--configWidth));*/
  /*min-width: 10px;*/
}

.Header-logo:hover {
  color: transparent;
}

.Header-logo:after {
  transition:
    opacity 0.2s ease-in;
    
  opacity: 0;
  
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: no-repeat center/63% url("https://image.flaticon.com/icons/svg/54/54175.svg");
}

.Root.is-configOpen .Header-logo:after {
  background: no-repeat center/calc(var(--Header-height) * 0.35) var(--configClose);
}

.Header-logo:hover:after {
  opacity: calc(0.85 + (0.7 - 0.85) * var(--config));
}

.Header-title {
  position: relative;
  display: inline-block;
  /*margin: 0 auto;*/
  /*width: 100%;*/
  /*float: right;*/
  padding: 0.4em var(--paddingRight) 0 var(--paddingLeft);
  box-sizing: border-box;
  /*text-align: center;*/
}

.Header-search {
  background: none;
  font-family: inherit;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0.15em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  grid-column: 1;
  margin: 0;
  position: relative;
  /*min-width: 142px;*/
}

.Header-tools {
  grid-column: 2;
  white-space: nowrap;
  position: relative;
}

.Header-account {
  transition: 
    opacity 0.2s ease-in;
    
  opacity: 0.55;
  
  background-image: var(--account);
  margin-right: 0.31em;
  margin-top: 0.65em;
  width: 2.32em;
  height: 2.32em;
  position: relative;
  float: left;
}

.Header-account:hover {
  opacity: 0.71;
}

.Header-account:active {
  opacity: 0.89;
}

.Header-themes {
  transition: 
    opacity 0.2s ease-in,
    background-position 0.41s ease-out;
    
  opacity: 0.57;
  background-position: 50% calc(10% + (90% - 10%) * var(--theme));
  
  /*transform: rotateZ(calc(180deg * var(--theme-cycle)));*/
  background-color: #000;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/da/White_dot.svg");
  background-size: 72%;
  margin-top: 0.24em;
  margin-right: 0.45em;
  width: 1.45em;
  /*height: 1.35em;*/
  height: 85%;
  border-radius: 0.75em;
}

.Header-themes:hover {
  opacity: 0.73;
}

.Header-themes:active {
  opacity: 0.91;
}

.Catalog {
  width: calc(100vw - var(--configWidth));
  height: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
  padding: calc(var(--Header-height) + var(--Catalog-padding)) var(--Catalog-padding) var(--Catalog-padding) var(--Catalog-padding);
  z-index: 2;
  background: hsl(0, 0%, 82%);
  overflow-x: auto;
  min-width: 100%;
}

.Catalog-root {
  display: grid;
  grid-template-columns: repeat(var(--Catalog-columns), 1fr);
  grid-auto-rows: var(--Catalog-rowUnit);
  grid-gap: var(--Catalog-gap);
  
  position: relative;
  width: 100%;
  /*max-width: 350px;*/
  max-width: var(--Catalog-width);
  margin: 0 auto;
  box-sizing: border-box;
  /*min-width: var(--min-width);*/
  min-width: 187px;
}

.Catalog-root section {
  transition:
    opacity 0.2s ease-in;
    
  opacity: 0.8;
  
  --background: hsl(0, 0%, 100%);
  background: var(--background);
  
  grid-row: span var(--weight);
  box-sizing: border-box;
  position: relative;
  
  color: hsl(0, 0%, 20%);
  cursor: pointer;
  
  vertical-align: top;
  display: inline-block;
  
  overflow: hidden;
}

.Catalog-root section:hover {
  opacity: 1;
}

.Catalog-root h4 {
  font-weight: 400;
  font-size: 1.21em;
  line-height: 1.25;
  margin: 0;
  padding: 0.6em;
  box-sizing: border-box;
  
  color: inherit;
  --mask: linear-gradient(to top, transparent 0.2em, #000 0.8em);
  mask: var(--mask);
  -webkit-mask: var(--mask);
  height: 100%;
  
  position: relative;
}

.Article {
  transition: 
    opacity 0.3s ease-out,
    background-color var(--themeDuration) var(--themeEasing);
    
  opacity: var(--article);
  
  /*visibility: hidden;*/
  position: absolute;
  width: 100%;
  height: 100%;
  padding: calc(var(--Header-height) + var(--Article-padding)) var(--Article-padding) var(--Article-padding) var(--Article-padding);
  box-sizing: border-box;
  background: hsla(0, 0%, calc(55% + (85% - 55%) * var(--theme)), 0.975);
  
  z-index: 3;
  --scrollbarZ: 5;
  top: 0;
  left: 0;
  pointer-events: none;
}

.Article.is-enabled {
  visibility: visible;
}

.Article.is-visible {
  --article: 1;
  pointer-events: auto;
}

.Article-close {
  transition:
    opacity 0.2s ease-in;
    
  opacity: 0.30;
    
  width: 23px;
  height: 23px;
  z-index: 1;
  position: sticky;
  margin: var(--Article-padding) 0.5em;
  float: right;
  top: calc(var(--Article-padding));
  right: 0.5em;
  background: no-repeat url("https://image.flaticon.com/icons/svg/128/128531.svg");
}

.Article-close:hover {
  opacity: 0.43;
}

.Article-close:active {
  opacity: 0.53;
}

.Article-root {
  transition: 
    transform 0.3s ease-out;   /*
    background-color 0.41s ease-out, 
    color 0.25s ease-in;  */
    
  transform: scale(calc(0.8 + (1 - 0.8) * var(--article)));
  transform-origin: center 20%;
  
  /*background: hsl(0, 0%, calc(93% + (40% - 93%) * var(--theme)));*/
  background: hsl(0, 0%, 93%);
  /*color: hsl(0, 0%, calc(20% + (95% - 20%) * var(--theme)));*/
  color: hsl(0, 0%, 20%);
    
  border-radius: 0.5em;
  background-clip: padding-box;
  position: relative;
  box-sizing: border-box;
  font-size: 1.08em;
  line-height: 1.5;
  max-width: 850px;
  margin: 0 auto;
  display: block;
  /*min-width: var(--min-width);*/
  min-width: 213px;
}

.Article-body {
  padding: 1.0em;
}

.Article-body p {
  margin: 0 0 0.7em 0;
}

.Article-body img {
  max-width: 100%;
  box-sizing: border-box;
  min-width: 100px;
}

@viewport {
  min-zoom: var(--minZoom);
}

@-ms-viewport {
  width: device-width;
  height: device-height;
  zoom: 1;
  min-zoom: var(--minZoom);
}

@media screen and (min-width: 380px) {
  :root {
    --Config-width: 11.83em;
    --minZoom: 0.5;
    --Config-overflowX: hidden;
  }
}

@media screen and (min-width: 415px) {
  :root {
    --Config-account: 0;
  }
  
  .Root.is-configOpen {
    --Header-toolsColumn: auto;
  }
}

@media screen and (min-width: 450px) {
  :root {
    --Config-close: 0;
  }
  
  .Root.is-configOpen {
    --Header-logoMax: auto;
  }
}

/* TODO: Normalize breakpoints */
@media screen and (min-width: 600px) {
  :root {
    --Catalog-columns: 2;
    --Catalog-width: 670px;
  }
}

@media screen and (min-width: 830px) {
  :root {
    --Catalog-columns: 3;
    --Catalog-width: 950px;
  }
}

@media screen and (min-width: 1080px) {
  :root {
    --Catalog-columns: 4;
    --Catalog-width: 1250px;
  }
}

@media screen and (min-width: 1405px) {
  :root {
    --Catalog-columns: 5;
    --Catalog-width: 1644px;
  }
}
