body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    background: #f0f0f0;
    padding-top: 50px;
    min-height: 1000px;
}
.main.black{
    background: #181818;
}
/* Pentru alinierea în mijloc a elementelor */
.main .inner{
    width: 98%;
    max-width: 1050px;
    margin: auto;
}
.main .topbar{
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 1px 0 rgba(150, 150, 150, 0.3);
}
.main.black .topbar{
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    box-shadow: 0 0 1px 0 rgba(250, 250, 250, 0.3);
}
.main .topbar .menu{
    float: left;
}
.main .topbar .menu .logo{
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    text-decoration: none;
    padding: 0 20px;
}
.main.black .topbar .menu .logo{
    color: #000;
}
/* Sport, Politics, etc.. */
.main .topbar .menu .link{
    display: inline-block;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    padding: 0 10px;
}
.main.black .topbar .menu .link{
    color: #000;
}
/* Subliniere când e mouseul peste */
.main .topbar .link:hover{
    text-decoration: underline;
}
.main .topbar .search{
    float: right;
    padding: 15px 0;
}
.main .topbar .search .search-input{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: #fff;
    font-size: 14px;
    padding: 2px 0;
}
.main.black .topbar .search .search-input{
    color: #333;
    border-bottom: 2px solid #333;
}
/* Div-ul cu cerculețe */
.main .topbar .colors{
    float: right;
    margin-left: 5px;
}
/* Cerculețele în sine */
.main .topbar .colors .circle{
    margin-top: 15px;
    margin-left: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #000;
}
.main .topbar .colors .circle.switch-black{
    background: #000;
    border: 2px solid #fff;
}
@media(max-width: 600px){
    /* Meniu pentru mobil */
    .main{
        padding-top: 100px;
    }
    .main .topbar{
        text-align: center;
    }
    .main .topbar .menu{
        /* Împinge elementele din dreapta, sub .menu (.menu = Wews, Politics, Spo...) */
        width: 100%;
    }
    .main .topbar .menu .logo{
        display: block;
        width: 100%;
        padding: 0;
        line-height: 40px;
    }
    .main .topbar .menu .link{
        line-height: 20px;
        padding: 0 8px;
    }
    .main .topbar .search{
        float: left;
        padding: 3px;
        margin-bottom: 5px;
        margin-top: 7px;
    }
    .main .topbar .colors .circle{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}


.content{
    overflow: hidden;
}
.content .column{
    width: 25%;
    float: left;
}
@media(min-width: 751px){
    .content .column:nth-child(2n){
        padding-top: 25px;
    }
}
@media(max-width: 750px){
    .content .column{
        width: 50%;
    }
}
@media(max-width: 500px){
    .content .column{
        width: 100%;
    }
}
.card{
    display: block;
    text-decoration: none;
    color: #000;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(150, 150, 150, 0.4);
}
.main.black .card{
    background: #333;
    color: #fff;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.4);
}
.card .card-image{
    width: 100%;
    height: 140px;
    background-size: cover;
    background-position: center center;
}
.card .card-content{
    padding: 15px;
}
.card .card-content .source{
    display: block;
    font-size: 10px;
    color: #ee5153;
}
.card .card-content h3{
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}
.card .card-content p{
    margin: 0;
    font-size: 14px;
}
